.dropdown_wrapper {
  font-weight: 600;
  color: #397f84;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 6px 8px 12px;
  transition: all 1s;
  position: relative;
  cursor: pointer;
}

.dropdown_menu {
  transition: all 1s;
  max-height: 400px;
  opacity: 1;
  top: 36px;
  right: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropdown_value {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chevron {
  transition: all 1s;
}

.dropdown_chevron_open {
  transform: rotate(180deg);
}

.dropdown_item {
  transition: all 0.2s;
  padding: 8px 12px;
}

.dropdown_item:hover {
  background-color: #397f84;
  color: white;
}

.dropdown_item_value {
  text-align: center;
}

.dropdown_closed {
  box-shadow: unset;
}

.dropdown_closed .dropdown_menu {
  max-height: 0;
  opacity: 0;
}
